body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {

    color: white;
    text-align: center;
    padding: 1em;
    background-image: url('/Images/Arijit-Singh 2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    background-attachment: fixed;
    background-position: center;


}

section {
    padding: 20px;
}

#biography {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.gallery-image {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}




nav {
    background-color: #666;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.feature{
min-height: 100vh;
background: #f9f9f9;
}
.feature .card-container{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
}
.feature .card-container .card{
width: 25rem;
margin:2rem;
background: #fff;
border-radius: .5rem;
box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
overflow: hidden;
position: relative;
}
.feature .card-container .card img{
height:18rem;
width: 100%;
object-fit: cover;
}
.feature .card-container.content{
padding-bottom: 2rem;
text-align: center;
}
.feature .card-container .content .title{
color:#333;
    font-size: 3rem;
    }
.feature .card-container.content p{
    color:#333;
    font-size: 1.3rem;
    padding:1rem;
    }


